language: go
go:
  - "1.11"
env:
  - GO111MODULE=on
script:
  - go test -v
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
